.idea/.gitignore
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/workspace.xml
Company Preps/2021 Grand_Tests/2021 Grand_Tests.iml
Company Preps/Lockdown Challenge/Lockdown Challenge.iml
Company Preps/TCS Code Vita Practice/TCS Code Vita Practice.iml
Company Preps/TCS Gamify/TCS Gamify.iml
Company Preps/Company Preps.iml
DS and Algorithms/DS and Algorithms.iml
HackerEarth/HackerEarth.iml
HackerRank/Problem Solving/Problem Solving.iml
HackerRank/HackerRank.iml
out/production/2021 Grand_Tests/Addition.class
out/production/2021 Grand_Tests/crop_pic_quest.txt
out/production/2021 Grand_Tests/crop_pic.c
out/production/2021 Grand_Tests/difference_of_squares.class
out/production/2021 Grand_Tests/min_travel_time.class
out/production/2021 Grand_Tests/minimum_travel_time.txt
out/production/Company Preps/1Pythagorean_Numerology.c
out/production/Company Preps/cumulative_sum_of_n_multiples.c
out/production/Company Preps/even_and_multiple.c
out/production/Company Preps/fibnoacci_recursion.py
out/production/Company Preps/largest_house.c
out/production/Company Preps/max_of_row_min_of_col.py
out/production/Company Preps/min_palindrome_cuts.py
out/production/Company Preps/palindromes_between_numbers.py
out/production/Company Preps/power.class
out/production/Company Preps/scrabble.c
out/production/Company Preps/sentence_properties.py
out/production/Company Preps/Solution.class
out/production/Company Preps/sort_product_of_digits.c
out/production/Company Preps/sort_till_kth_pos.py
out/production/Company Preps/star_pattern.class
out/production/Company Preps/sum_of_divisible_numbers.c
out/production/DS and Algorithms/1_LinkedList_Operations.c
out/production/DS and Algorithms/balanced_paranthesis.class
out/production/DS and Algorithms/display_nth_node.c
out/production/DS and Algorithms/Infix_postfix.class
out/production/DS and Algorithms/length_of_linked_list.c
out/production/DS and Algorithms/LinkedListExample.class
out/production/DS and Algorithms/reverse_LinkedList.c
out/production/DS and Algorithms/search_element_in_linked_list.c
out/production/DS and Algorithms/stackarray.c
out/production/HackerEarth/Solution.class
out/production/HackerRank/Solution.class
out/production/HackerRank/Solution1.class
out/production/HackerRank/Solution2.class
out/production/HackerRank/Solution3.class
out/production/HackerRank/Solution4.class
out/production/HackerRank/Solution5.class
out/production/Lockdown Challenge/AbstractClass.class
out/production/Lockdown Challenge/Add.class
out/production/Lockdown Challenge/Address.class
out/production/Lockdown Challenge/adj.class
out/production/Lockdown Challenge/AgeNotWithinRangeException.class
out/production/Lockdown Challenge/article.c
out/production/Lockdown Challenge/ASCIImagic.py
out/production/Lockdown Challenge/AtTheRateException.class
out/production/Lockdown Challenge/BdayCake.py
out/production/Lockdown Challenge/Bill.class
out/production/Lockdown Challenge/Billing.class
out/production/Lockdown Challenge/bridge.c
out/production/Lockdown Challenge/Calculator.class
out/production/Lockdown Challenge/Couple.class
out/production/Lockdown Challenge/Details.class
out/production/Lockdown Challenge/DivZero.class
out/production/Lockdown Challenge/DomainException.class
out/production/Lockdown Challenge/DotException.class
out/production/Lockdown Challenge/Electronics.class
out/production/Lockdown Challenge/FindRemainingSoldiers.class
out/production/Lockdown Challenge/frequence.c
out/production/Lockdown Challenge/hamming.py
out/production/Lockdown Challenge/Hospital.class
out/production/Lockdown Challenge/In_patient.class
out/production/Lockdown Challenge/ItemType.class
out/production/Lockdown Challenge/kids.class
out/production/Lockdown Challenge/MailSolution.class
out/production/Lockdown Challenge/MailValidator.class
out/production/Lockdown Challenge/MailValidatorExceptions.class
out/production/Lockdown Challenge/matrix.c
out/production/Lockdown Challenge/NameNotValidException.class
out/production/Lockdown Challenge/Operations.class
out/production/Lockdown Challenge/Overloader.class
out/production/Lockdown Challenge/Overloading.class
out/production/Lockdown Challenge/Parallelogram.class
out/production/Lockdown Challenge/Password.class
out/production/Lockdown Challenge/Patient.class
out/production/Lockdown Challenge/Pattern.class
out/production/Lockdown Challenge/Percentage.c
out/production/Lockdown Challenge/Police.class
out/production/Lockdown Challenge/PowerExc.class
out/production/Lockdown Challenge/Quad.class
out/production/Lockdown Challenge/Rectangle.class
out/production/Lockdown Challenge/Shape.class
out/production/Lockdown Challenge/Solution.class
out/production/Lockdown Challenge/Speed.class
out/production/Lockdown Challenge/Square.class
out/production/Lockdown Challenge/StringReplacer.class
out/production/Lockdown Challenge/Student.class
out/production/Lockdown Challenge/TalentShow.c
out/production/Lockdown Challenge/Trapezoid.class
out/production/Lockdown Challenge/userid.c
out/production/Lockdown Challenge/WhiteSpace.class
out/production/Lockdown Challenge/Wooden.class
out/production/Lockdown Challenge/Day/Day15/Bill.class
out/production/Lockdown Challenge/Day/Day15/Customer.class
out/production/Lockdown Challenge/Day/Day15/Product.class
out/production/Problem Solving/Array Manipulation.c
out/production/Problem Solving/ArraySolution.class
out/production/Problem Solving/Insert a node at a specific position in a linked list.c
out/production/Problem Solving/Insert a node at the head of a linked list.c
out/production/Problem Solving/Left Rotation.c
out/production/Problem Solving/Print in Reverse.c
out/production/Problem Solving/Print the Elements of a Linked List.c
out/production/TCS Code Vita Practice/divisor.class
out/production/TCS Gamify/Largest_factor.class
.gitignore
.gitignore
