* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1900px;
  margin: 0 auto;
}
.wrapper ul {
  list-style: none;
  margin-top: 1%;
}
.wrapper ul li {
  background: #262626;
  width: 170px;
  border: 1px solid #fff;
  height: 50px;
  line-height: 50px;
  text-align: center;
  float: left;
  color: #fff;
  font-size: 14px;
}
.wrapper ul li:hover {
  background: crimson;
}
.wrapper ul ul {
  display: none;
}
.wrapper ul li:hover > ul {
  display: block;
}
.wrapper ul ul ul {
  margin-left: 170px;
  top: 0;
  position: absolute;
}
